@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

html{
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0f0f0f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.5px; /* Adjust width as needed */
}

/* Target the scrollbar track (background) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f100; /* Light gray track */
  border-radius: 10px;
}

/* Target the scrollbar thumb (draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray thumb */
  border-radius: 20px;
}

/* Optional: Style on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker gray on hover */
}